%h1 Listing messages
%script{:src => "//js.pusher.com/2.2/pusher.min.js", :type => "text/javascript"}

%h1
  New Message

%table
  %thead
    %tr
      %th Content
      %th Name

  %tbody#messages
    - @messages.each do |message|
      %tr
        %td= message.content
        %td= message.name


= render 'form'