%h1 Listing messages



%h1
  New Message

%table
  %thead
    %tr
      %th Content
      %th Name

  %tbody
    - @messages.each do |message|
      %tr
        %td= message.content
        %td= message.name


= render 'form'